services:
  traefik:
      image: "traefik:v3.6"
      container_name: "traefik"
      restart: unless-stopped
      security_opt:
        - no-new-privileges:true
      networks:
        - proxy
      command:
        - "--providers.docker=true"
        - "--providers.docker.exposedbydefault=false"
        - "--providers.docker.network=proxy"
        - "--entryPoints.web.address=:80"
        - "--api.dashboard=true"
        - "--api.insecure=true"
      
      ports:
        - "80:80"
        - "8080:8080"
      volumes:
        - "/var/run/docker.sock:/var/run/docker.sock:ro"
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.traefik.rule=Host(`traefik.docker.localhost`) && (PathPrefix(`/api`) || PathPrefix(`/dashboard`))"
        - "traefik.http.routers.traefik.entrypoints=web"
        - "traefik.http.routers.traefik.service=api@internal"
       
  whoami:
    image: "traefik/whoami"
    restart: unless-stopped
    networks:
      - proxy
networks:
  proxy:
    external: true